@use '@styles/colors' as *;
@use '@styles/variables' as *;
@use 'sass:color';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 10px 20px;

  &__submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $primary;
    color: $secondary;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.3s ease;

    &:hover {
      background-color: color.adjust($primary, $lightness: -10%);
      color: $secondary;
    }

    &:disabled {
      background-color: $border-color;
      color: $tertiary;
      cursor: not-allowed;
    }
  }
}