@use '@styles/colors' as *;
@use '@styles/variables' as *;
@use '@styles/typography' as *;

:root {
  color: $primary;
  background-color: $secondary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.alert {
  color: $alert;
  font-size: 30px;
  font-weight: 500;
}

.radio-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}